div {
  border: 2px solid red;
  margin: 20px;
  padding: 10px;
}
p {
  color: blue;
}
#parent3 {
  background: pink;
}
.parent {
  background: gray;
}
[class] {
  background: pink;
}
div[id="parent1"] {
  background: pink;
}
div:not(#parent1) {
  background: pink;
}

div[id^="par"] {
  background: pink;
}
div[id*="ent"] {
  background: pink;
}
div[id$="2"] {
  background: pink;
}
