svg {
    background-color: salmon;
}

line {
    stroke: black;
    stroke-width: 3px;
}

rect {
    stroke: cornsilk;
    stroke-width: 2px;
    stroke-opacity: .5;
    fill: seagreen;
    fill-opacity: .6;
}